version: '2.1'

volumes:
  mongo1-db:
    driver: "${VOLUME_DRIVER}"
  mongo1-config:
    driver: "${VOLUME_DRIVER}"
  mongo2-db:
    driver: "${VOLUME_DRIVER}"
  mongo2-config:
    driver: "${VOLUME_DRIVER}"
  mongo3-db:
    driver: "${VOLUME_DRIVER}"
  mongo3-config:
    driver: "${VOLUME_DRIVER}"
networks:
  mongo-network:
services:
  mongo1:
    image: openfrontier/mongo:${MONGO_VERSION}
    restart: unless-stopped 
    logging:
      driver: "journald"
    dns:
      - ${DNS_SERVER}
    ports:
      - "27017"
    networks:
      - mongo-network
    volumes:
      - mongo1-db:/data/db
      - mongo1-config:/data/configdb
    environment:
       constraint:volume.driver: =${VOLUME_DRIVER}
       ETCD_CLIENT_IP: ${ETCD_CLIENT_IP}
       REPLSET_NAME: ${REPLSET_NAME}
    command:  --replSet ${REPLSET_NAME} --keyFile /mongodb-keyfile
  mongo2:
    image: openfrontier/mongo:${MONGO_VERSION}
    restart: unless-stopped
    logging:
      driver: "journald" 
    dns:
      - ${DNS_SERVER}
    ports:
      - "27017"
    networks:
      - mongo-network
    volumes:
      - mongo2-db:/data/db
      - mongo2-config:/data/configdb
    environment:
       constraint:volume.driver: =${VOLUME_DRIVER}
       ETCD_CLIENT_IP: ${ETCD_CLIENT_IP}
       REPLSET_NAME: ${REPLSET_NAME}
    command: --replSet ${REPLSET_NAME} --keyFile /mongodb-keyfile 
  mongo3:
    image: openfrontier/mongo:${MONGO_VERSION}
    restart: unless-stopped
    logging:
      driver: "journald" 
    dns:
      - ${DNS_SERVER}
    ports:
      - "27017"
    networks:
      - mongo-network
    volumes:
      - mongo3-db:/data/db
      - mongo3-config:/data/configdb
    environment:
       constraint:volume.driver: =${VOLUME_DRIVER}
       ETCD_CLIENT_IP: ${ETCD_CLIENT_IP}
       REPLSET_NAME: ${REPLSET_NAME}
    command: --replSet ${REPLSET_NAME} --keyFile /mongodb-keyfile
  mongo-haproxy:
    image: openfrontier/haproxy-etcd:${HAPROXY_VERSION}
    restart: unless-stopped
    logging:
      driver: "journald"
    dns:
     - ${DNS_SERVER}
    networks:
     - mongo-network
    ports:
     - "27017:27017"
    depends_on:
     - "mongo1"
     - "mongo2"
     - "mongo3"
    environment:
      constraint:node: =${HAPROXY_NODE}
      ETCD_CLIENT_IP: ${ETCD_CLIENT_IP}
      PROJECT_NAME: ${PROJECT_NAME}
